@import "grid";
@import "utils";
@import "fonts";
@import "buttons";


:root {
  --primary: #248181;
  --primary-dark: #154949;
}

body {
  background: #262626;
  // background: #fff;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.App {
  background: #fff;
}

button, a {
  cursor: pointer;
  outline: none;
}

// transitions
.switch-wrapper {
  position: relative;
}

.switch-wrapper > div {
  position: absolute;
  background: white;
  width: 100%;
  top: 0;
  max-height: 100vh;
  overflow: auto;
}