@import "grid";
@import "utils";
@import "fonts";
@import "buttons";


:root {
  --primary: #248181;
  --primary-dark: #154949;
}

body {
  background: #262626;
}

.App {
  background: #fff;
}

button, a {
  cursor: pointer;
  outline: none;
}

// transitions
.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}