.ProfileUserForm {
  .form-inputs {
    display: grid;
    margin: 50px 0;
    max-width: 600px;
    row-gap: 15px;
    column-gap: 20px;
    grid-template-columns: repeat(2, minmax(0, 1fr));

    @media (max-width: 480px) {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
  }
}