.main {
  padding: 40px;
  width: 400px;
}

.codeField {
  background: linear-gradient(90deg,#d7d6d6,#e8e8e8);
  font-weight: 600;
  text-transform: uppercase;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
  border-radius: 4px;
}

.form {
  display: grid;
  row-gap: 20px;
  column-gap: 20px;
  grid-template-columns: repeat(2, minmax(0, 1fr));

  @media (max-width: 480px) {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}