.main {
  padding: 0 10px;
  text-align: center;
  min-height: 100vh;
}

.title {
  font-size: 40px;
  padding-top: 76px;
  padding-bottom: 30px;
  margin: 0;
}

.count {
  font-size: 32px;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 70px;
  margin-bottom: 50px;

  button {
    width: 42%;
    padding: 100px 0;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    margin: 0 2%;
    font-size: 40px;
    font-weight: 500;
    color: black;
    border-radius: 6px;
  }
}