.Login-Component {
  display: flex;
  min-height: 100vh;

  &__sidebar {
    background: #000;
    width: 30%;
  }

  &__content {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    width: 70%;

    &__card {
      width: 312px;
      outline: solid 1px #ccc;
    }
  }
}